/* import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

/* styling for complete web page */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;

}

/* styling for parent div */
.index{
    background-color:rgb(222, 236, 249);
    min-height: 100vh;
}

/* styling for navbar title to change the font family*/
.navbar-brand{
    font-family: 'Patua One', cursive;
    font-weight: bold;
    font-size:large;
}

/* styling for img tag */
.cards{
    padding:14px 0px;
    width:100%;
    height:100%;
    border-radius:7%;
}

.blockquote-footer{
    color: black !important;
}
.bbground{
    background-color: rgb(222, 236, 249);
}
.blockquote{
    color: rgb(22, 67, 8);
    font-weight: 700 ;
}
img:hover{
    opacity: .7;
    transform: scale(1.1);
}